[Unit]
Description=Runs a custom renewal script
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/usr/local/renew/
ExecStart=/usr/local/renew/renew.sh
